body {
  background-color: #333;
  color: #9f8ec2;
  font-family: sans-serif;
  position: fixed;
}

input {
  width: 100%;
}

table {
  font-size: 10vmin;
  width: 100%;
}

.stationary-clock-label {
  font-size: 5vmin;
  color: #9f8ec2;
}

.moving-clock-label {
  font-size: 5vmin;
  color: cadetblue;
}

.moving-photon-clock-label {
  font-size: 5vmin;
  color: cadetblue;
}

.stationary-clock-value {
  font-size: 5vmin;
  text-align: right;
}

.moving-clock-value {
  font-size: 5vmin;
  text-align: right;
  color: cadetblue;
}

.moving-photon-clock-value {
  font-size: 5vmin;
  text-align: right;
  color: cadetblue;
}

.clock-container {
  margin-bottom: 200px;
}

.outer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333;
  color: #9f8ec2;
  font-family: sans-serif;
  width: 100vw;
  height: 25vw;
}