body {
  background-color: #333;
  color: #9f8ec2;
  font-family: sans-serif;
  position: fixed;
}

input {
  width: 100%;
}

table {
  font-size: 10vmin;
  width: 100%;
}

.stationary-clock-label {
  font-size: 5vmin;
  color: #9f8ec2;
}

.moving-clock-label {
  font-size: 5vmin;
  color: cadetblue;
}

.stationary-clock-value {
  font-size: 5vmin;
  text-align: right;
}

.moving-clock-value {
  font-size: 5vmin;
  text-align: right;
  color: cadetblue;
}

.clock-container {
  margin-bottom: 200px;
}

.outer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333;
  color: #9f8ec2;
  font-family: sans-serif;
  width: 100vw;
}

.moving-ruler {
  display: flex;
  background-color: cadetblue;
  height: 4px;
  width: 100vw;
}

.line-container {
  overflow: hidden;
  width: 400px;
  height: 400px;
  background: black;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.line-container .line {
  height: 10px;
  width: 100%;
}
.line-container .line-1 {
  position: absolute;
  top: 170px;
  background: rebeccapurple;
}
.line-container .line-2 {
  position: absolute;
  top: 210px;
  background: cadetblue;
}

.line-tick {
  width: 1px;
  height: 10px;
  background: black;
  position: absolute;
}
